
/* general */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: white;
    background-image: url("../other/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 4vw;
    text-align: center;
}

/* img */
#slideshow {
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
}
#slideshow img {
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
    border-radius: 5px;
}
.small {
    width:10%;
    opacity: 0.4;
    border: 1px solid white;
}
.medium {
    width: 20%;
    opacity: 0.7;
    border: 2px solid white;
    box-shadow: 5px 10px 18px #1f1f1f;
}
.large {
    width: 40%;
    border: 5px solid white;
    box-shadow: 5px 10px 18px #353535;
}

/* slideshow */
#nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#nav * {
    font-size: 5vw;
    color: white;
    transition: color 1s;
}
#nav *:hover {
    color: rgb(136,124,167);
}
#nav .material-icons {
    margin-top: 4vw;
    margin-left: 1.2vw;
    margin-bottom: 4vw;
}

/* main */
main {
    border: white 0.4vw solid;
    border-radius: 1vw;
    background-color: rgba(0,0,0,0.8);
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 3vw;
    text-align: center;
}
main p {
    font-size: 1.2em;
}
.buttons {
    width: 100%;
    display: flex;
}
.buttons a {
    color: black; 
    width: 40%;
    padding: 2%;
    text-align: center;
    background-color: white;
    text-decoration: none;
    border-radius: 1vw;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.4em;
    transition: background-color 1s, color 1s;
}
.buttons a:hover {
    color: white;
    background-color: rgb(136,124,167);
}
main video {
    width: 60%;
    padding: 2vw;
}

/* other */
#images {
    background-color: rgba(0,0,0,0.8);
}
.home {
    width: 25%;
    margin-top: -2vw;
    margin-bottom: 1vw;
}